<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .marco{
            box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-bottom: 10px;
            border: 1px solid red;
            align-items: center;
            
        }
    </style>
</head>
<body>
    <h1>Lista de personajes</h1>
    <div class="marco" th:each="person: ${persons}">
        <h1 th:text="${person.name}"></h1>
        <img th:src="${person.image}">
    </div>
    
</body>
</html>